<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.demo1.model"/>
    </typeAliases>


    <!--    <plugins>-->
    <!--        <plugin interceptor="com.demo1.interceptor.MyExecutorInterceptor"/>-->
    <!--        <plugin interceptor="com.demo1.interceptor.MyStatementHandlerInterceptor"/>-->
    <!--        <plugin interceptor="com.demo1.interceptor.MyParameterHandlerInterceptor"/>-->
    <!--        <plugin interceptor="com.demo1.interceptor.MyResultSetHandlerInterceptor"/>-->
    <!--    </plugins>-->


    <environments default="dev">
        <environment id="sit">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.jdbcUrl}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.jdbcUrl}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.demo1.mapper"/>
    </mappers>
</configuration>